.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  margin-bottom: 2rem;
}
.movie-poster{
  height: 60vh;
}

.h3{
  font-size: 14px !important;
}

form button{
  border: 1px solid #0984e3;
  color: #fff;
  background: #0984e3;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 5px;
}

input{
  outline-width: 0;
  padding-left: 10px;
  letter-spacing: 1px;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  padding: 3px;
}

.pagination {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  display: inline-block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
